{% extends 'store/base.html' %} 

{% block body %}
<br>
<div class="container">
   

   <h2 class="text-center alert alert-danger">Order Confirmation Form</h2>
      <div class="row">
         <div class="col-sm-6">
            <h2 class="text-center alert alert-primary">Products</h2>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col" style="width: 10%;">Image</th>
                     <th scope="col" >Product Name</th>
                     <th scope="col" style="width: 40%;">Desc</th>
                     <th scope="col">Price</th>
                  </tr>
               </thead>
               <tbody>
                  {% for produ in products %}
                  <tr>
                     {% if produ.image %}
                        <td><img src="{{ produ.image.url }}" alt="" class="img-thumbnail "></td>
                     {% else %} 
                        <td>image</td>
                     {% endif %}   
                     <td>{{produ.product_name}}</td>
                     <td>{{produ.desc}}</td>
                     <td><b>{{produ.price}}</td>
                     {% endfor %}  
                  </tr>
               </tbody>
            </table><br>
            <h2>Total Price Rs-/{{tprice}}</h2>
         </div> 
            
            
         
            <div class="col-sm-6">
               <h2 class="text-center alert alert-primary">Dilvery Address</h2>
               <form  method="POST" action="/ConfirmOrder/" >
                  {% csrf_token %}
            
                  <div class="mb-3">
                     <label for="name" class="form-label">Name:</label>
                     <input type="text" class="form-control" id="name" name="name" required placeholder="name">
                  </div>
            
                  <div class="mb-3">
                  <label for="email" class="form-label">Contact Number:</label>
                  <input type="tel" class="form-control" id="cnum" name="cnum" required laceholder="03055535384"> 
                  </div>
            
                  <div class="mb-3">
                  <label for="phone" class="form-label">Postal Address:</label>
                  <input type="text" class="form-control " id="pstad" name="pstad" required placeholder="Postal Address">
                  </div>

                  <div class="mb-3">
                     <label for="phone" class="form-label">City:</label>
                     <input type="text" class="form-control " id="city" name="city" required placeholder="City">
                  </div>

                  <div class="mb-3">
                     <label for="phone" class="form-label">Cash on delivery :</label>
                     <input type="text" class="form-control"  id="payment" name="payment" required placeholder="Yes or No">
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Submit</button>
               </form>
            </div>   
           
      </div>      
</div>

{% endblock body %}